<p id="notice"><%= notice %></p>

<h1>Listing Visits</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Firstdate</th>
      <th>Target</th>
      <th>Source</th>
      <th>Description</th>
      <th>Raw</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.ip %></td>
        <td><%= visit.firstDate %></td>
        <td><%= visit.target %></td>
        <td><%= visit.source %></td>
        <td><%= visit.description %></td>
        <td><%= visit.raw %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
